<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/defaults.css">
    <link rel="stylesheet" href="/public/index.css">
    <script src="/public/scipt.js" defer></script>
    <title>IITM electives</title>
</head>
<body>

<span id ='subject_span' >enter the first 2 letters of the course code</span>
<input type="text" id="subject" onkeyup="filterBySubject() " placeholder="enter here" > 



<div id = "courses_grid_parent">
    <div class = "course_container">
        <div>
            Course Code
        </div>
        <div>
            Course Name
        </div>
        <div>
            Course Slot
        </div>
        <div>
            Course Credits
        </div>
    </div>
</div>

</body>
</html>